<h2>Here are All the Activities</h2>

<%# Display a list all of the activities %>
<ul>
    <% @activities.each do |activity| %>
    <li> <%= link_to activity.name, activity_path(activity) %></li>
<% end %>
</ul>